---
import "@fontsource/nunito/200.css";
import "@fontsource/nunito/300.css";
import "@fontsource/nunito/400.css";
import "@fontsource/nunito/500.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/800.css";
import "@fontsource/nunito/900.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="just an overview." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:image"
      content="//image.thum.io/get/https://jao-astroport.pages.dev/"
    />
    <meta
      name="twitter:image"
      content="//image.thum.io/get/https://jao-astroport.pages.dev/"
    />
    <title>{title}</title>
  </head>
  <body>
    <div
      data-theme="froggycandle"
      class="min-h-screen bg-gradient-to-b from-zinc-950 via-40% via-zinc-900 to-zinc-800 flex flex-col place-content-center place-items-center gap-2 py-4"
    >
      <div class="navbar w-fit mx-auto flex flex-col gap-1">
        <a class="btn btn-primary font-bold text-xl rounded-full">jao.</a>
      </div>
      <slot />
      <footer
        class="footer footer-center p-10 bg-transparent rounded flex flex-col gap-1"
      >
        <aside>
          <p class="text-neutral-content">
            Price data provided by
            <a
              href="https://www.coingecko.com"
              target="_blank"
              class="text-affair-400 font-semibold p-2 bg-affair-950 rounded-full"
              >CoinGecko</a
            >
          </p>
        </aside>
        <p class="text-neutral-content text-xs">powered by {Astro.generator}</p>
      </footer>
    </div>
  </body>
</html>

<style>
  html,
  * {
    font-family: "Nunito", sans-serif;
  }
</style>
